<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
             <div class="row">
                <div class="col-lg-2 text-center">
                </div>
                <div class="col-lg-8 text-center">
                   <p class="large text-muted"><b>Through engaging, empowering, and amplifying environmental scientists with data science and open practices, <a href="https://www.openscapes.org/">Openscapes</a> aims to enable better science in less time by creating a more efficient and collaborative culture. The <a href="https://www.openscapes.org/blog/2019/01/28/introducing-champions-program/">Openscapes Champions program</a> mentors environmental scientists and empowers them and their labs with open data science tools and practices and helps grow the community of practice within the lab, department, and beyond. Our inaugural cohort includes seven “science star” Champions: read about their research and Openscapes progress. </b></p>
                </div>
                <div class="col-lg-2 text-center">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 text-center">
                </div>
                <div class="col-lg-8 text-center">
                   <p class="large text-muted">In March 2019 we brought the Champions together for a Summit in midway through the program as a chance to meet in person, strengthen relationships, share lessons learned, problem solve, and ignite new collaborations. <a href="https://bahlailab.org/">Dr. Christie Bahlai</a> joined as special guest expert to share her insight on being an early career environmental science leader who is also championing data science and open practices. Dr. Bahlai is an applied quantitative ecologist at Kent State University, and a Mozilla Fellow (2015).</p>
                   </div>
                <div class="col-lg-2 text-center">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 text-center">
                </div>
                <div class="col-lg-8 text-center">
                   <p class="large text-muted">The Summit was enerously supported by <a href=”https://foundation.mozilla.org/en/”>Mozilla</a> and hosted by <a href=”https://www.nceas.ucsb.edu/”>NCEAS</a>.</p>
                </div>
            </div>
        </div>
    </section>
