<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
             <div class="row">
                <div class="col-lg-2 text-center">
                </div>
                <div class="col-lg-8 text-center">
                   <p class="large text-muted"><b>Through engaging, empowering, and amplifying environmental scientists with data science and open practices, <a href="https://www.openscapes.org/">Openscapes</a> aims to enable better science in less time by creating a more efficient and collaborative culture. The <a href="https://www.openscapes.org/blog/2019/01/28/introducing-champions-program/">Openscapes Champions program</a> mentors environmental scientists and empowers them and their labs with open data science tools and practices and helps grow the community of practice in their labs, departments, and beyond. Our inaugural cohort includes seven “science star” Champions: read about their research and Openscapes progress. </b></p>
                </div>
                <div class="col-lg-2 text-center">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 text-center">
                </div>
                <div class="col-lg-8 text-center">
                   <p class="large text-muted">In March 2019 we had the opportunity to host a Champions Summit to bring together these scientists to meet in person. The objectives are to meet in person and appreciate each other as individuals and allies, to share lessons learned and problem solve, and to ignite new collaborations. </p>
                </div>
                <div class="col-lg-2 text-center">
                </div>
                <div class="col-lg-8 text-center">
                   <p class="large text-muted">At the Summit, we were also joined by special guest expert <a href="https://bahlailab.org/">Dr. Christie Bahlai</a>. Dr. Bahlai is an applied quantitative ecologist at Kent State University, and a Mozilla Fellow (2015). </p>
                </div>
            </div>
        </div>
    </section>
